<!Doctype html>
{% load static %}
<html>
<head>
	<meta  content="text/html;  charset=UTF-8" />
	<title>
		{% block title %}
		{% endblock %}
	</title>

	{% block head %}
	{% endblock %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

</head>


<body>

<a  href="{% url 'stocks:index' %}" >首页</a>
<a  href="{% url 'stocks:trade' %}" >数据输入</a>
<a  href="{% url 'stocks:stockinhand' %}">持仓</a>
<a  href="{% url 'stocks:profit' %}">亏钱的艺术</a>



<div class="container">
 {% block content %}

 {% endblock %}
 </div>

 {% block javascript %}

 {% endblock %}

 {% block css %}

 {% endblock %}


</body>

</html>