{% extends 'base.html' %}


{% block title %}
Trade
{% endblock %}


<head>
    <style>
        .container {
                display: flex; /* 使用 Flex 布局 */
                    }

        .item {
                flex: 1; /* 使每个标签具有相同的宽度 */
                margin-right: 10px; /* 可以根据需要设置标签之间的间距 */
                }
    </style>
</head>


{% block content %}
<h2> will buy or sell stock here!</h2>

 <form name="buyForm"  action="/buystock/"  method="POST">
        {% csrf_token %}
     <table>
         <tr>
             <td>股票代码：</td>
             <td>{{ stock_form.code }}</td>
         </tr>
         <tr>
             <td>股票金额：</td>
             <td>{{ buy_form.amount }}</td>
         </tr>
         <tr>
             <td>股票数量：</td>
             <td>{{ buy_form.quantity }}</td>
         </tr>

     </table>




     <div class="container" style="display:flex;margin-right: 200px">
         <div>
            <input type="radio" id="buy_radio" name="buy_radio" value="buy" checked />
            <label for="buy">买入</label>

            <input type="radio" id="send_radio" name="buy_radio" value="send" />
            <label for="send">送股</label>

        </div>
        <div  style="position: absolute;left:150px">
             <select name="stategy">
                    <option value="">-请选择-</option>
                    <option value="lmup">低市值</option>
                    <option value="hipe">hipe</option>
                    <option value="lowpe">lowpe</option>
            </select>
        </div>

     </div>

<!--        <div>{{buy_form.my_choice_radio}}</div>-->
<!--        <div>{{buy_form.my_choice_select}}</div>-->
<!--     </div>-->
    <input style="position: absolute;left:100px"     type="submit" name="bconfirm" value="交易" />
 </form>


<br>
<br>

<form name="sellForm"  action="/sellstock/"  method="POST">
        {% csrf_token %}

        <table>
         <tr>
             <td>股票代码：</td>
             <td>{{ stock_form.code }}</td>
         </tr>
         <tr>
             <td>股票金额：</td>
             <td>{{ sell_form.amount }}</td>
         </tr>
         <tr>
             <td>股票数量：</td>
             <td>{{ sell_form.quantity }}</td>
         </tr>

     </table>


    <div class="container" style="display:flex;margin-right: 200px">
    <div>
        <input type="radio" id="sell" name="sell_radio" value="sell" checked/>
        <label for="sell">卖出</label>

        <input type="radio" id="dividend" name="sell_radio" value="divi" />
        <label for="dividend">分红</label>
      </div>
            <div  style="position: absolute;left:150px">
             <select name="stategys">
                    <option value="">-请选择-</option>
                    <option value="lmup">低市值</option>
                    <option value="hipe">hipe</option>
                    <option value="lowpe">lowpe</option>
            </select>
        </div>
    </div>


    <div>
        <input style="position: absolute;left:100px" type="submit" name="bconfirm" value="卖出" />
    </div>
</form>
    <br>
<br>


<div class='table_record' style="text-align: center;">
<table border="1">
      <tr>
		  <th>时间</th>
		  <th>股票代码</th>
		  <th>股票名称</th>
		  <th>操作</th>
		  <th>数量</th>
		  <th>价格</th>
		  <th>金额</th>
	  </tr>
	{% for item in records %}
      <tr>
		  <td>{{ item.date }}</td>
		  <td> {{ item.stock.code }} </td>
		   <td><a  href="{% url 'stocks:stockdetail' item.stock.code %}" > {{ item.stock.name }} </a></td>
		  <td>{{ item.mark }}</td>
		  <td>{{ item.quantity }}</td>
		  <td>{{ item.price }}</td>
		  <td>{{ item.amount }}</td>
	  </tr>
	{% endfor %}
   </table>
</div>


{% endblock %}


