{% extends 'base.html' %}


{% block title %}
Trade
{% endblock %}





{% block content %}
<h2> will buy or sell stock here!</h2>

 <form name="buyForm"  action="/buystock/"  method="POST">
        {% csrf_token %}
     <table>
         <tr>
             <td>股票代码：</td>
             <td>{{ stock_form.code }}</td>
         </tr>
         <tr>
             <td>股票金额：</td>
             <td>{{ buy_form.amount }}</td>
         </tr>
         <tr>
             <td>股票数量：</td>
             <td>{{ buy_form.quantity }}</td>
         </tr>
         <tr>
             <td> </td>
             <td><input type="submit" name="bconfirm" value="买入" />&nbsp;&nbsp;</td>
         </tr>


     </table>
 </form>
<br>
<br>
<form name="sellForm"  action="/sellstock/"  method="POST">
        {% csrf_token %}

        <table>
         <tr>
             <td>股票代码：</td>
             <td>{{ stock_form.code }}</td>
         </tr>
         <tr>
             <td>股票金额：</td>
             <td>{{ sell_form.amount }}</td>
         </tr>
         <tr>
             <td>股票数量：</td>
             <td>{{ sell_form.quantity }}</td>
         </tr>
         <tr>
             <td> </td>
             <td> <input type="submit" name="bconfirm" value="卖出" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
         </tr>
     </table>


</form>


<div class='table_record' style="text-align: center;">
<table border="1">
      <tr>
		  <th>时间</th>
		  <th>股票代码</th>
		  <th>股票名称</th>
		  <th>操作</th>
		  <th>数量</th>
<!--		  <th>价格</th>-->
		  <th>金额</th>
	  </tr>
	{% for item in records %}
      <tr>
		  <td>{{ item.date }}</td>
		  <td> {{ item.stock.code }} </td>
		   <td><a  href="{% url 'stocks:stockdetail' item.stock.code %}" > {{ item.stock.name }} </a></td>
		  <td>{{ item.mark }}</td>
		  <td>{{ item.quantity }}</td>
<!--		  <td>{{ item.price }}</td>-->
		  <td>{{ item.amount }}</td>
	  </tr>
	{% endfor %}
   </table>
</div>


{% endblock %}
